{% extends 'konto/base.html' %}
{% load static %}

{% block title %}Logowanie{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'konto/register.css' %}">{% endblock %}

{% block main %}
    <h1>Logowanie</h1>
    <br>
    <div id="message">
        {% for m in messages %}
            {{ m }}
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div id="left">
                {{ field.label_tag }}&nbsp
            </div>
            <div id="right">
                {{ field }}
            </div>
            {% for e in field.errors %}
                <div id="error">
                    {{ e }}
                    <br>
                </div>
            {% endfor %}
        {% endfor %}
        <input id="submit" type="submit" value="Zaloguj się">
    </form>
    <br><br>
    <div id="register">
        Lub <a href="{% url 'konto:register' %}">zarejestruj się</a>
    </div>
{% endblock %}